{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center my-5 py-5">
    <div class="col-md-6">
        <h3 class="fw-normal">Enter New Password</h3>
        <p>Please enter your new password twice so we can verify you typed it correctly.</p>
        <form method="post">{% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary w-100">Change  My Password</button>
        </form>
    </div>
</div>
{% endblock content %}
