{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center my-5 py-5">
    <div class="col-md-5">
        <h3 class="fw-normal">Password Reset</h3>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form method='post'>{% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary w-100 mb-2" type="submit">Reset my Password</button>
        </form>
    </div>
</div>
{% endblock content %}
